body {
    padding-left: 100px;
}
input#go {
    background-color: #4c9ed9;
    color: #ffffff;
    padding: 20px 40px;
  border:1px solid #111;
}
input#go:hover {
    background-color: #ffffff;
    color: #4c9ed9;
    border:1px solid #111;
}